<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/style.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="horlogue">
            <h1 id="heur">00</h1>
            <h1>:</h1>
            <h1 id="min">00</h1>
            <h1>:</h1>
            <h1 id="sec">00</h1>
        </div>
        <h2>Compteur</h2>
        <h1 id="counter">0</h1>
        <button id="increment" class="btn">Incrémenter</button>
        <button id="decrement" class="btn">Décrémenter</button>

        <br>
        <div id="box"></div>
    </div>
    <script src="../dist/index.js"></script>
</body>
</html>